<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string></string>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon1_icon-40</string>
					<string>Icon1_icon-60</string>
					<string>Icon1_icon-72</string>
					<string>Icon1_icon-76</string>
					<string>Icon1_icon-83.5</string>
					<string>Icon1_icon-small-50</string>
					<string>Icon1_icon-small</string>
					<string>Icon1_icon</string>
					<string>Icon1_ios-marketing</string>
					<string>Icon1_notification-icon</string>
					<string>Icon1_notification-icon~ipad</string>
				</array>
			</dict>
			<key>Icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon2_icon-40</string>
					<string>Icon2_icon-60</string>
					<string>Icon2_icon-72</string>
					<string>Icon2_icon-76</string>
					<string>Icon2_icon-83.5</string>
					<string>Icon2_icon-small-50</string>
					<string>Icon2_icon-small</string>
					<string>Icon2_icon</string>
					<string>Icon2_ios-marketing</string>
					<string>Icon2_notification-icon</string>
					<string>Icon2_notification-icon~ipad</string>
				</array>
			</dict>
			<key>Icon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon3_icon-40</string>
					<string>Icon3_icon-60</string>
					<string>Icon3_icon-72</string>
					<string>Icon3_icon-76</string>
					<string>Icon3_icon-83.5</string>
					<string>Icon3_icon-small-50</string>
					<string>Icon3_icon-small</string>
					<string>Icon3_icon</string>
					<string>Icon3_ios-marketing</string>
					<string>Icon3_notification-icon</string>
					<string>Icon3_notification-icon~ipad</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
